{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://cdn.ebizautos.media/used-2021-mercedes~benz-e~class-amge63s4maticsedan-4162-21917138-1-640.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Car Renting</h1>
            <span class="subheading">Rent Your Car!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for car in all_cars %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', car_id=car.id) }}">
            <h2 class="post-title">
              {{car.mark}}
            </h2>
            <h3 class="post-subtitle">
              {{car.model}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{car.owner.name}}</a>
            on {{car.date}}
          {% if admin: %}
            <a href="{{url_for('delete_post', car_id=car.id) }}">✘</a>
          {% endif %}
          <a href="#">{{car.img_url}}</a>
          </p>

          <img src="{{car.img_url}}" alt="car" width="499" height="300">
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">
          {% if admin: %}
            <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Upload New Car</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}