{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://www.cnet.com/a/img/resize/77223ca410f4992359e3c911d9a012f380dee094/hub/2022/02/11/27dc2fbf-8935-43ad-9f68-1f1784d8a7fc/2021-mercedes-amg-g63-china-blue-113.jpg?auto=webp&width=1200')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Log In</h1>
            <span class="subheading">Welcome Back!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 <p style="color:red">{{ message }}</p>
              {% endfor %}
           {% endif %}
        {% endwith %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}